<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/global.css">
  <title></title>
</head>
<body>
  <div class="main">
    <header>
      <div class="toolBar">
        <div class="icons">
          <div class="close"></div>
          <div class="small"></div>
          <div class="fullScreen"></div>
        </div>
        <div class="title">Electron Demo</div>
      </div>

    </header>
    <content>
      <button id="btn">新增窗口</button>

    </content>
  </div>
  <div class="tooltip">
    <div class="title">提示</div>
    <div class="content">确认关闭当前窗口吗？</div>
    <div class="footer">
      <span class="cancel">取消</span>
      <span class="close">关闭</span>
    </div>
  </div>
  <script src="../js/index.js"></script>
</body>
</html>